.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 2rem;
}

.featured_products {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    row-gap: 15px;
    margin: 0px auto;
}

.section_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.feat-product, .bestseller-product, .problems {
    margin: 0px;
    width: fit-content;
}

.feat-product {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(115, 115, 115, 1);
}

.bestseller-product {
    color: rgba(37, 43, 66, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: center;
}

.problems {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(115, 115, 115, 1);
}

.load_button {
    width: fit-content;
    border-radius: 5px;
    border: 1px solid rgba(35, 166, 240, 1);
    padding: 15px 40px;
    color: rgba(35, 166, 240, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
}

.load_button:hover {
    background: rgba(35, 166, 240, 1);
    color: white;
}

@media screen and (max-width: 414px) {
    .featured_products {
        display: grid;
        grid-template-columns: 1fr;
        height: max-content;
    }
}