.container {
    height: 784px;
    display: grid;
    place-items: center;
}

.cards {
    width: 1146px;
    height: 616px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.card1, .card2, .card3, .card4 {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Montserrat';
}

.card1 > h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(37, 43, 66, 1);
    line-height: 50px;
}

.card2 > h3, .card3 > h3, .card4 > h3 {
    font-size: 24px;
    font-weight: 700;
}

.readmore, .item {
    font-size: 14px;
    font-weight: 700;
}

.item {
    color: rgba(45, 192, 113, 1);
}

.card1 {
    grid-row: 1 / span 2;
    background-image: url('../../assets/cardone.png');
}

.card2 {
    grid-column: 2 / span 2;
    background-image: url('../../assets/cardtwo.png');
}


.card3 {
    background-image: url('../../assets/cardthree.png');
}

.card4 {
    background-image: url('../../assets/cardfour.png');
}

@media screen and (max-width: 414px) {
    .container {
        height: auto;
    }

    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
        height: auto;
        place-items: center;
    }

    .card1, .card2, .card3, .card4 {
        width: 100%;
        height: auto;
        grid-column: auto;
        display: flex;
        flex-direction: column;
    }

    .card1, .card2, .card3, .card4 {
        width: 332px;
        height: 300px;
    }
}
